<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    {% include 'head.html' %}
    {% block html_head %}{% endblock %}

</head>

<body>
    {% include 'top.html' %}

    {% block top %}{% endblock %}

    
    <div id="content">
        {% block content %}

        <div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>

        {% endblock %}
    </div>


    {% include 'bottom.html' %}

</body>

</html>