{% extends 'base.html' %}

{% block title %}HOME{% endblock %}

{% block content %}

add all images to mysql:<a class="btn btn-primary" href="{% url 'addAllImgToSQL'  %}" role="button">add all</a>
<br />
remove all images data from mysql:<a class="btn btn-primary" href="{% url 'removeAllDataInImage'  %}"
    role="button">remove all</a>
<br />


<span>
    show all images data from mysql:
</span>
<button type="button" class="btn" id="show_data" onclick="showImagesData(-1);">show all</button>
<br />

<span>
    show certainly images data from mysql:
</span>
<button type="button" class="btn" id="show_data" onclick="showImagesData(1);">show all</button>
<br />

<div class="container-fluid" id="result">
    <div class="row">
    </div>
</div>


<a href="{% url 'showAllMoviesData' %}">showAllMoviesData</a>

<script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">

    showImagesData = function (num) {
        rowNum = 2;
        rowMax = 12;

        $.get("{% url 'showAllImageData'  %}", function (ret) {
            htmlStr = ""
            length = num < 0 ? ret.length : num


            for (let i = 0; i < length;) {

                if (i % 3 == 0) {
                    htmlStr += "<div class=\"row\">" 
                    for (let j = 0; j < (rowMax / rowNum) &&  i < length; i++,j++) {
                        item = ret[i];

                        htmlStr +=
                            " <div class=\"col-md-" + rowNum + "\">  " +
                            "    <a href=\"#\" class=\"card\">  " +
                            "       <img src=\"" + item.path + "\" class=\"img-fluid\"  " +
                            "       title=\"" + item.name + "\">     " +
                            "       <div class=\"card-text\">                " +
                            "           <span> " + item.name + " <br />" +
                            "           <date>TYPE:</date> / <date>" + item.type + "</date>    " +
                            "           </span>              " +
                            "       </div>         " +
                            "    </a>        " +
                            "</div>"
                    }
                    htmlStr += "</div>" 
                }
            }
            htmlStr += $('#result').html()
            $('#result').html(htmlStr)
        })


    }
</script>


please <a href="{% url 'login' %}">log in</a>
please <a href="{% url 'list' %}">list</a>



<div class="container red-box div-table">
    <!-- 第一个例子：控制列的宽度及在不同的设备上如何显示 -->
    <div class="row" style="background-color: white">
        <div class="col-md-6">1</div>
    </div>
    <div class="row" style="background-color: white">
        <div class="col-md-3">1</div>
        <div class="col-md-3" style="background-color: orange">1</div>
        <div class="col-md-3">1</div>
    </div>

    <!-- 第二个例子：或让 Bootstrap 者自动处理布局 -->
    <div class="row" style="background-color: white">
        <div class="col-md-4">1</div>
        <div class="col-md-4" style="background-color: orange">1</div>
        <div class="col-md-4">1</div>
    </div>
</div>


{% include 'ad.html' %}



{% endblock %}