{% extends 'base.html' %}

{% block title %}HOME{% endblock %}

{% block content %}

<div id="test"></div>

<script type="text/babel">
    ReactDOM.render( 
        <h1>Hello, world!</h1>,
        document.getElementById('test')
    );
</script>

<div class="container-fluid">
    <div class="row">
        <div id="waterfall">

            <div class="item">
                <a class="movie-box" href="#">
                    <div class="photo-frame">
                        <img src=""
                            title="2019 LPL 夏季赛 iG 2:1 力克 FPX，如何评价这场比赛？">
                    </div>
                    <div class="photo-info">
                        <span>2019 LPL 夏季赛 iG 2:1 力克 FPX，如何评价这场比赛？<br>
                            <date>ABC-884</date> / <date>2019-08-02</date>
                        </span>
                    </div>
                </a>
            </div>

             
            

        </div>
    </div>
</div>


<div class="container red-box">
    THIS IS HOME!
    this is my first bootstrap web page.

    <br />
    <div class="mdc-text-field">
        <input class="mdc-text-field__input" type="text" id="input">
        <label for="input" class="mdc-floating-label">Input Label</label>
        <div class="mdc-line-ripple">
            123123
        </div>
    </div>

    please <a href="{% url 'login' %}">log in</a>
    please <a href="{% url 'list' %}">list</a>

</div>

<div class="container red-box div-table">
    <!-- 第一个例子：控制列的宽度及在不同的设备上如何显示 -->
    <div class="row" style="background-color: white">
        <div class="col-md-6">1</div>
    </div>
    <div class="row" style="background-color: white">
        <div class="col-md-3">1</div>
        <div class="col-md-3" style="background-color: orange">1</div>
        <div class="col-md-3">1</div>
    </div>

    <!-- 第二个例子：或让 Bootstrap 者自动处理布局 -->
    <div class="row" style="background-color: white">
        <div class="col-md-4">1</div>
        <div class="col-md-4" style="background-color: orange">1</div>
        <div class="col-md-4">1</div>
    </div>
</div>


<!-- <script src=''></script> -->



{% include 'ad.html' %}



{% endblock %}