.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
}

.mat-card {
    background: #fff;
    color: rgba(0, 0, 0, .87);
}


.card {
    display: block;
    background-color: #fff;
    overflow: hidden;
    margin: 10px auto;
    padding: 0;
    border: none;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3)
}

.card-text {
    padding: 3px 10px;
}

.card-text date {
    color: goldenrod;
}